.header-conatiner {
    background-color: rgb(250, 250, 200);
    color: brown;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: larger;
    margin-bottom: 20px;
}