<div class="employee-card-container">
    <div class="profile-photo">
        <img src="" alt="employee-profile-photo">
    </div>
    <div class="employee-details">
        <div class="card-top-actions">
            <span class="employee-name">Megha Banerjee</span>
            <div class="edit-add-action-btn-container">
                <button class="edit-btn">Edit</button>
                <button class="add-btn">Add</button>
            </div>
        </div>
        <div class="details-conatiner">
            <div class="personal-details">
                <div class="birthday pd">
                    <span>Birthday</span>
                    <span>1997-05-25</span>
                </div>
                <div class="gender pd">
                    <span>Gender</span>
                    <span>Female</span>
                </div>
                <div class="education pd">
                    <span>Education</span>
                    <span>Bachelor's</span>
                </div>
            </div>
            <div class="job-details">
                <div class="company jd">
                    <span>Company</span>
                    <span>OpenText Technologies India Ptv Ltd</span>
                </div>
                <div class="experince jd">
                    <span>Experince</span>
                    <span>3 years 8 months</span>
                </div>
                <div class="salary jd">
                    <span>salary</span>
                    <span>6 Lakhs</span>
                </div>
            </div>
        </div>
    </div>
    </div>